html {
  width: 100%;
}

.main {
  width: 100%;
  background-color: black;
}

.panel-1 {
  width: 100%;
}

.panel-1 img {
  width: 100%;
  margin: 0;
  position: relative;
}

.panel-2 {
  width: 100%;
}

.panel-2 img {
  margin: 0;
  width: 100%;
  position: relative;
}

.panel-3 {
  position: relative;
  width: 100%;
}

.panel-3 img {
  width: 100%;
  position: relative;
}

.contract-text {
  position: absolute;
  top: 58%;
  left: 2.3%;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: white;
}

.contract {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: absolute;
  color: white;
  top: 65%;
  left: 2.3%;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  border: 2px orange solid;
  padding: 1%;
  width: 34%;
  border-radius: 8px;
}

.contract p {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  margin: 0;
}

#copy-contract {
  width: 50px;
  margin-left: 10px;
}

.panel-4 {
  width: 100%;
}

.panel-4 img {
  width: 100%;
}

.panel-5 {
  width: 100%;
}

.panel-5 img {
  width: 100%;
}

.panel-6 {
  width: 100%;
  position: relative;
}

.panel-6 img {
  width: 100%;
}

.telegram {
  color: white;
  position: absolute;
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  left: 10%;
  top: 15%;
  text-decoration: underline;
}

.twitter {
  color: white;
  position: absolute;
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  left: 25%;
  top: 15%;
  z-index: 2;
  text-decoration: underline;
}

.forms {
  color: white;
  position: absolute;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  top: 35%;
  z-index: 2;
  line-height: 4rem;
  left: 8%;
}

.form-info {
  list-style: none;
}

@media only screen and (max-width: 480px) {
  .contract-text {
    position: absolute;
    top: 58%;
    left: 2.3%;
    font-size: 0.5rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    color: white;
  }

  .contract {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: absolute;
    color: white;
    top: 68%;
    left: 2.2%;
    font-size: 0.5rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    border: 1px orange solid;
    padding: 2%;
    width: 33%;
    border-radius: 3px;
  }

  .contract p {
    display: flex;
    font-size: 0.3rem;
    align-items: center;
    margin: 0;
  }

  #copy-contract {
    width: 8%;
    margin-left: 1%;
  }

  .telegram {
    color: white;
    position: absolute;
    font-size: 0.5rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
    left: 5%;
    top: 15%;
    text-decoration: underline;
  }

  .twitter {
    color: white;
    position: absolute;
    font-size: 0.5rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
    left: 25%;
    top: 15%;
    z-index: 2;
    text-decoration: underline;
  }

  .forms {
    color: white;
    position: absolute;
    font-size: 0.5rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
    top: 35%;
    z-index: 2;
    line-height: 1rem;
    left: 5%;
  }

  .form-info {
    list-style: none;
    padding: 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1281px) {
  .contract-text {
    position: absolute;
    top: 58%;
    left: 2.3%;
    font-size: 1rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    color: white;
  }

  .contract {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: absolute;
    color: white;
    top: 68%;
    left: 2.2%;
    font-size: 0.5rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    border: 1px orange solid;
    padding: 2%;
    width: 33%;
    border-radius: 3px;
  }

  .contract p {
    display: flex;
    font-size: 0.6rem;
    align-items: center;
    margin: 0;
  }

  #copy-contract {
    width: 8%;
    margin-left: 1%;
  }

  .telegram {
    color: white;
    position: absolute;
    font-size: 1.25rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
    left: 5%;
    top: 15%;
    text-decoration: underline;
  }

  .twitter {
    color: white;
    position: absolute;
    font-size: 1.25rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
    left: 25%;
    top: 15%;
    z-index: 2;
    text-decoration: underline;
  }

  .forms {
    color: white;
    position: absolute;
    font-size: 1.15rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
    top: 35%;
    z-index: 2;
    line-height: 2rem;
    left: 5%;
  }

  .form-info {
    list-style: none;
    padding: 0;
  }
}
